extends partial/layout

block site_title
    != page.tag + " · " + config.title

block description
    - desc = page.desc || page.tag + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    include mixins/post
    +tagList()

block pagination
    include mixins/paginator
    +post()
    include partial/comment

block copyright
    include partial/copyright