.paginator {
    margin: 4em 0;
    text-align: center;
    .prev {
        width: 49%;
        margin-left: -1%;
        margin-right: 1%;
        text-align: right;
    }
    .next {
        width: 49%;
        margin-left: 1%;
        margin-right: -1%;
        text-align: left;
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}
